@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0 auto;
}

.header {
  padding: 15px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
          box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
  font-family: Raleway;
  margin: 0 0 60px 0;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 5px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__menu div {
  padding: 0 25px;
  height: 20px;
  line-height: 20px;
}
.header__signup {
  line-height: 20px;
}
.header__signup img {
  position: relative;
  top: -3px;
}

.content {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.promo {
  padding: 50px;
  background-color: #E3EBF1;
  border-radius: 10px;
  margin-bottom: 77px;
}
.promo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.promo__row img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 43%;
          flex: 1 1 43%;
  max-width: 500px;
  max-height: 386px;
  margin-right: 50px;
}
.promo__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 43%;
          flex: 1 1 43%;
}
.promo__subtitle {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 25px;
  color: #10843F;
  margin-bottom: 8px;
}
.promo__title {
  font-family: "Bitter";
  font-size: 47px;
  line-height: 52px;
  color: #1D2F38;
  margin-bottom: 22px;
}
.promo__text {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 40px;
}
.promo__text span {
  font-weight: 700;
}
.promo a {
  background: #17A550;
  border-radius: 5px;
  display: inline-block;
  height: 50px;
  width: 161px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

.blog {
  margin-bottom: 100px;
}
.blog__title {
  margin-bottom: 33px;
}
.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}
.blog__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  max-width: 555px;
  margin-right: 30px;
  margin-bottom: 25px;
}
.blog__main img {
  margin-bottom: 9px;
}
.blog__main h3 {
  font-family: "Bitter";
  font-size: 30px;
  line-height: 35px;
  color: #1D2F38;
  margin-bottom: 13px;
}
.blog__main p {
  font-family: "Raleway";
  font-size: 15px;
  line-height: 20px;
  color: #1D2F38;
}
.blog__other {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}
.blog__item img {
  margin-right: 15px;
}
.blog__item p {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 25px;
  color: #1D2F38;
}

.best-prod {
  margin-bottom: 100px;
  background-image: url(../img/svg/BestProdBG.svg);
  border-radius: 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.best-prod img {
  margin-right: 12px;
}
.best-prod h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Bitter";
  font-size: 28px;
  line-height: 32px;
  color: #1D2F38;
}
.best-prod a {
  width: 111px;
  height: 52px;
  background: #17A550;
  border-radius: 5px;
  text-align: center;
  font-family: "Raleway";
  font-size: 15px;
  text-align: center;
  line-height: 52px;
  color: #FFFFFF;
}

.product {
  margin-bottom: 100px;
}
.product__title {
  margin-bottom: 33px;
}
.product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.product__item {
  background-color: #F7F9FA;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
  margin-right: 22px;
}
.product__item:last-child {
  margin-right: 0;
}
.product__item div {
  padding: 24px;
}
.product__item div h3 {
  font-family: "Bitter";
  font-size: 30px;
  line-height: 35px;
  color: #1D2F38;
}
.product__item div p {
  font-family: "Raleway";
  font-size: 15px;
  line-height: 20px;
  color: #1D2F38;
}

.signup {
  background-image: url(../img/svg/SingUpBG.svg);
  border-radius: 10px;
  margin-bottom: 100px;
  padding: 50px 50px 0 50px;
}
.signup__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.signup__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43%;
          flex: 0 0 43%;
  width: 450px;
  margin-bottom: 50px;
}
.signup__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
  margin-bottom: 50px;
}
.signup__form p {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  color: #1D2F38;
  margin-bottom: 24px;
}
.signup__form form input {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-family: "Raleway";
  font-size: 12px;
  line-height: 20px;
  color: #536D7A;
  margin-bottom: 30px;
}
.signup__form form button {
  display: inline-block;
  width: 82px;
  height: 50px;
  background: #FFC728;
  border-radius: 5px;
  padding: 15px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-right: 10px;
}
.signup__form form a {
  font-family: "Raleway";
  font-size: 12px;
  color: #536D7A;
}
.signup__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.signup__title div {
  display: inline-block;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.signup__title div img {
  position: relative;
  left: 10px;
  top: 10px;
}
.signup__title h3 {
  display: inline-block;
  font-family: "Bitter";
  font-size: 30px;
  line-height: 60px;
  color: #1D2F38;
}

.footer {
  padding: 60px 0;
  background: #F7F9FA;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__row div {
  width: 33%;
}
.footer__logo {
  margin-bottom: 11px;
}
.footer__social-networks {
  display: block;
  width: 100%;
}
.footer__social-networks a {
  display: inline;
}
.footer__social-networks a img {
  display: inline-block;
}
.title {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 40px;
  color: #1D2F38;
}

.hider span {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 20px;
  color: #1D2F38;
}
.hider span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/svg/Triangle.svg);
  position: relative;
  top: 4px;
  margin-right: 4px;
}