@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

@import "reset.scss";

body{
    margin: 0 auto;
}
.header {
    padding: 15px 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
    font-family: Raleway;
    margin: 0 0 60px 0;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        flex: 0 0 auto;
        padding-right: 5px;
    }
    &__menu {
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        flex: 1 1 auto;
        div{
            padding: 0px 25px;
            height: 20px;
            line-height: 20px;
        }
    }
    &__signup {
        line-height: 20px;
        flex: 0 0 auto;
        img{
            position: relative;
            top: -3px;
        }
    }
}
.content {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.promo {
    padding: 50px 50px 30px 50px;
    background-color: #E3EBF1;
    border-radius: 10px;
    margin-bottom: 77px;
    &__row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        img{
            flex: 1 1 43%;
            max-width: 500px;
            max-height: 386px;
            margin-right: 50px;
            margin-bottom: 20px;
        }
    }
    &__content {
        flex: 1 1 43%;
        margin-bottom: 20px;
        }

    &__subtitle {
        font-family: 'Raleway';
        font-size: 18px;
        line-height: 25px;
        color: #10843F;
        margin-bottom: 8px;
        }

    &__title {
        font-family: 'Bitter';
        font-size: 47px;
        line-height: 52px;
        color: #1D2F38;
        margin-bottom: 22px;
        }
    &__text{
        font-family: 'Raleway';
        font-size: 18px;
        line-height: 24px;
        color: #333333;
        margin-bottom: 40px;
        span{
            font-weight: 700;
        }
    }
    a{
        background: #17A550;
        border-radius: 5px;
        display: inline-block;
        height: 50px;
        width: 161px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;
    }
}

.blog {
    margin-bottom: 100px;
    
    &__title{
        margin-bottom: 33px;
    }
    &__row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    &__main {
        flex: 1 1 45%;
        max-width: 555px;
        margin-right: 30px;
        margin-bottom: 25px;
        img{
            margin-bottom: 9px;
        }
        h3{font-family: 'Bitter';
            font-size: 30px;
            line-height: 35px;
            color: #1D2F38;
            margin-bottom: 13px;
        }
        p{
            font-family: 'Raleway';
            font-size: 15px;
            line-height: 20px;
            color: #1D2F38;
        }
    }

    &__other {
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 23px;
        img{
            margin-right: 15px;
        }
        p{
            font-family: 'Raleway';
            font-size: 18px;
            line-height: 25px;
            color: #1D2F38;
        }
    }
}
.best-prod{
    margin-bottom: 100px;
    background-image: url(../img/svg/BestProdBG.svg);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    img{
        margin-right: 12px;
    }
    h2{
        flex: 1 1 auto;
        font-family: 'Bitter';
        font-size: 28px;
        line-height: 32px;
        color: #1D2F38;
    }
    a{
        width: 111px;
        height: 52px;
        background: #17A550;
        border-radius: 5px;
        text-align: center;
        font-family: 'Raleway';
        font-size: 15px;
        text-align: center;
        line-height: 52px;
        
        color: #FFFFFF;
        
        
    }
}

.product {
    margin-bottom: 100px;
    &__title {
        margin-bottom: 33px;
    }

    &__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &__item {
        background-color: #F7F9FA;
        flex: 0 0 31%;
        border-radius: 0 0 10px 10px;
        margin-bottom: 20px;
        margin-right: 22px;
        &:last-child{
            margin-right: 0;
        }
        div{
            padding: 24px;
            h3{
                font-family: 'Bitter';
                font-size: 30px;
                line-height: 35px;
                color: #1D2F38;
            }
            p{
                font-family: 'Raleway';
                font-size: 15px;
                line-height: 20px;
                color: #1D2F38;
            }
        }
        
    }
}
.signup {
    background-image: url(../img/svg/SingUpBG.svg);
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 50px 50px 0 50px;
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        
    }
    &__img{
        flex: 0 0 43%;
        width: 450px;
        margin-bottom: 50px;
    }
    &__form {
        flex: 0 0 500px;
        margin-bottom: 50px;
        p{
            font-family: 'Raleway';
            font-size: 18px;
            line-height: 24px;
            color: #1D2F38;
            margin-bottom: 24px;
        }
        form{
            input{
                display: block;
                border-radius: 5px;
                width: 100%;
                height: 50px;
                padding: 15px;
                font-family: 'Raleway';
                font-size: 12px;
                line-height: 20px;
                color: #536D7A;
                margin-bottom: 30px;
            }
            button{
                display: inline-block;
                width: 82px;
                height: 50px;
                background: #FFC728;
                border-radius: 5px;
                padding: 15px;
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                color: #000000;
                margin-right: 10px;
            }
            a{
                font-family: 'Raleway';
                font-size: 12px;
                color: #536D7A;
            }
        }
    }

    &__title {
        display: flex;
        margin-bottom: 30px;
        div{
            display: inline-block;
            background-color: white;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;
            img{
                position: relative;
                left: 10px;
                top:10px
            }
        }
        h3{
            display: inline-block;
            font-family: 'Bitter';
            font-size: 30px;
            line-height: 60px;
            color: #1D2F38;
        }
    }
}
.footer {
    padding: 20px 0;
    background: #F7F9FA;
    &__row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &>div{
            width: 340px;
            margin-bottom: 80px;
        }
    }

    &__info {
        p{
            font-family: 'Raleway';
            font-size: 16px;
            line-height: 20px;
            color: #1D2F38;
            span{
                font-weight: 700;
            }
        }
    }
    &__logo{
        margin-bottom: 11px;
    }
    &__social-networks {
        display: flex;
        justify-content: space-between;
        margin-bottom: 19px;
        width: 160px;
    }

    &__latest {
        &block{
            display: flex;
            flex-direction: column;
            div{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                &:first-child{
                    margin-top: 12px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                img{
                    border-radius: 7px;
                    margin-right: 9px;
                }
                p{
                    font-family: 'Raleway';
                    font-size: 16px;
                    line-height: 18px;
                    color: #1D2F38;
                }
            }
        }


    }

    &__browse {
        h3{
            margin-bottom: 13px;
        }
        form{
            display: flex;
            height: 50px;
            border: 1px solid #AABCC5;
            border-radius: 7px;
            margin-bottom: 20px;
            input{
                padding: 15px;
                width: 274px;
                height: 46px;
                background: #FFFFFF;
                border-radius: 7px 0px 0px 7px;
            }
            button{
                width: 81px;
                height: 48px;
                background: #768F9C;
                border-radius: 0px 7px 7px 0px;
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
            }
        }
        a{
            display: block;
            margin-bottom: 7px;
            font-family: 'Raleway';
            font-size: 16px;
            line-height: 20px;
            color: #1D2F38;
        }
        &>.line{
            margin-top: 21px;
            margin-bottom: 20px;
        }
    }
    .line{
        width: 100%;
        height: 1px;
        background-color: #536D7A;
    }

    h3{
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #333333;
    }
}


.title {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 40px;
    color: #1D2F38;
}
.hider{
    span{
        font-family: 'Raleway';
        font-size: 16px;
        line-height: 20px;
        color: #1D2F38;
        
        &::before{
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../img/svg/Triangle.svg);
            position: relative;
            top: 4px;
            margin-right: 4px;
        }
    }
}